.encabezado {
    background-color: blue;
    font-size: 30px;
    text-align: center;
    height: 100px;
}

.medio {
    height: 420px;
    width: 1332px;
    display: flex;
    flex-direction: row;
    background-color: coral;

   
}

.izquierda {
    text-transform: uppercase;
    border: solid 1px;
    background-color: aquamarine;
    height: 420px;
    width: 700px;
    display: flex;
   /* margin: 3px;
    /*  flex-direction: column;
    */
}

.cuerpo {
    text-align: center;
  /*  background-color: coral;*/
    width: 2000px;
    height: 400px;
    display: flex;
    /*flex-direction: column;*/
    flex-direction: column;
   /* border: solid 1px;
    /* margin-left: 100px;*/
    
}

.footer {
    background-color: red;
    height: 100px;
    text-align: unset;
}